<div class="About all-100 half-top-space">

  <section class="module parallax parallax-1">
    <div class="container">
      <div class="column-group all-100 push-center push-middle">
        <h1>About Us</h1>
      </div>
    </div>
  </section>

  <div class="ink-grid">
    <div class="column-group all-100 push-center padding">
      <div class="padding">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <h1 class="blue">The Team</h1>

      <div class="all-100 padding">
        <div>
          <div class="all-100">
            <div class="all-30 push-left align-center half-top-padding">
              <%= image_tag('team/Sargon.png', :class => "TeamImg") %>
            </div>
            <div class="all-70 push-right push-middle right-padding">
              <div class="column-group all-100">
                <div class="NamePos all-50 push-left">
                  <h3>Sargon Jacob</h3>
                </div>
                <div class="NamePos all-50 push-right align-right">
                  <h3 class="grey">CEO</h3>
                </div>
              </div>
              <div class="all-100 half-top-padding">
                <p class="blue">Product Design and Sales</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="all-100 padding">
        <div>
          <div class="all-100">
              <div class="all-30 push-left align-center half-top-padding">
                <%= image_tag('team/Jordan.png', :class => "TeamImg") %>
              </div>
              <div class="all-70 push-right push-middle right-padding">
                <div class="column-group all-100">
                  <div class="NamePos all-50 push-left">
                    <h3>Jordan Petersen</h3>
                  </div>
                  <div class="NamePos all-50 push-right align-right">
                    <h3 class="grey">CTO</h3>
                  </div>
                </div>
                <div class="all-100 half-top-padding">
                  <p class="blue">Full Stack and System Architecture</p>
                  <p>A Canadian transplant, Jordan has always been interested in building things from an early age. This lead to a passion for science and technology that would drive him to obtain a degree in Software Engineering at San Jose State University. Here he honed his skills to become an exceptional ROR developer, with a knack for architecture, and distributed systems. In his free time, he enjoys personal projects, working on his car, and snowboarding. </p>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="all-100 padding">
        <div>
          <div class="all-100">
            <div class="all-30 push-left align-center push-middle half-top-padding">
              <%= image_tag('team/Sarmad.jpg', :class => "TeamImg") %>
            </div>
            <div class="all-70 push-right right-padding">
              <div class="column-group all-100">
                <div class="NamePos all-50 push-left">
                  <h3>Sarmad Syed</h3>
                </div>
                <div class="NamePos all-50 push-right align-right">
                  <h3 class="grey">VP of Engineering</h3>
                </div>
              </div>
              <div class="all-100 half-top-padding">
                <p class="blue">Full Stack and Database</p>
                <p>Born in Berkeley in 1987, California raised in Silicon Valley. A self identified "geek" with a passion for science fiction in all its forms, chess and the glorious Golden State Warriors. Discovered a penchant for troubleshooting technology and general problem solving at a young age, which naturally progressed into a love of technology and programming later in life. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="all-100 padding">
        <div>
          <div class="all-100">
            <div class="all-30 push-left align-center half-top-padding">
              <%= image_tag('team/Lisa.png', :class => "TeamImg") %>
            </div>
            <div class="all-70 push-right push-middle right-padding">
              <div class="column-group all-100">
                <div class="NamePos all-50 push-left">
                  <h3>Lisa Efrid</h3>
                </div>
                <div class="NamePos all-50 push-right align-right">
                  <h3 class="grey">Project Manager</h3>
                </div>
              </div>
              <div class="all-100 half-top-padding">
                <p class="blue">Accounts and Project Managment</p>
                <p>A California native, Lisa has always been interested in technology. Lisa served in the Air Force for 8 years as a Satellite Communication technician in California, South Korea, and England. She is currently a senior at San Jose State University, studying Software Engineering. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%= render 'layouts/footer' %>

</div>

<script type="text/javascript">
    (function(){

        var parallax = document.querySelectorAll(".parallax"),
                speed = .5;

        window.onscroll = function(){
            [].slice.call(parallax).forEach(function(el,i){
                if(i == 0) {
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed ) + "px";
                }
                else{
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed + 200) + "px";
                }

                el.style.backgroundPosition = elBackgrounPos;

            });
        };

    })();
</script>