
<div class="Home all-100 half-top-space">

  <section class="module parallax parallax-1">
    <div class="container">
      <div class="column-group all-100 push-center push-middle">
        <div class="all-50">
          <figure class="ink-image bottom-space">
            <img src="img/landing.png" class="imagequery">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!--<section class="module content">-->
    <!--<div class="container">-->
      <div class="ink-grid">
          <div class="column-group all-100 push-center half-top-space">
            <% if not logged_in? %>
              <div class="Register all-90 push-middle left-padding right-padding ">
                <div class="all-50 push-left half-top-space">
                  <h1>New to SARYAN?</h1>
                </div>
                <div class="RegButton all-50 push-right align-right">
                  <%= button_to "Register", register_path, :method => :get, class: "ink-button black all-50" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="push-center">
              <div class="column-group all-100 push-center align-center padding top-space bottom-space">
                <div class="xlarge-33 large-33 medium-33 small-100 tiny-100 padding">
                  <div class="bottom-space">
                    <%= image_tag('icons/black/planner.png', :class => 'Icon') %>
                  </div>
                  <h1 class="blue">Schedule</h1>
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                </div>
                <div class="xlarge-33 large-33 medium-33 small-100 tiny-100 padding">
                  <div class="bottom-space">
                    <%= image_tag('icons/black/map.png', :class => 'Icon') %>
                  </div>
                  <h1 class="red">Evaluate</h1>
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                </div>
                <div class="xlarge-33 large-33 medium-33 small-100 tiny-100 padding">
                  <div class="bottom-space">
                    <%= image_tag('icons/black/manage.png', :class => 'Icon') %>
                  </div>
                  <h1 class="green">Manage</h1>
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
                </div>
              </div>
          </div>
      </div>
    <!--</div>-->
  <!--</section>-->

  <section class="module parallax parallax-2">
    <div class="container">
      <h3>The future of academic planning</h3>
    </div>
  </section>

  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center padding top-space bottom-space">

        <div class="all-100 padding">
          <div class="column-group all-100">
            <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 push-left right-padding">
                <div class="all-45 push-left align-right align-center right-padding">
                  <%= image_tag('icons/black/graduation.png', :class => 'Icon') %>
                </div>
                <div class="all-55 push-right align-left">
                  <h1 class="blue">Students</h1>
                </div>
            </div>
            <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 push-right">
              <ul>
                <li><p>Full ownership of academic plans</p></li>
                <li><p>Increase retention & graduation rates</p></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="all-100 padding">
          <div class="column-group all-100">
            <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 push-left right-padding">
                <div class="all-45 push-left align-right right-padding">
                  <%= image_tag('icons/black/advisors.png', :class => 'Icon') %>
                </div>
                <div class="all-55 push-right align-left">
                  <h1 class="green">Advisors</h1>
                </div>
            </div>
            <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 push-right">
              <ul>
                <li><p>Focus on exception handling</p></li>
                <li><p>Higher quality advising</p></li>
                <li><p>Increased advisor availability</p></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="all-100 padding">
          <div class="column-group all-100">
            <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 push-left right-padding">
                <div class="all-45 push-left align-right right-padding">
                  <%= image_tag('icons/black/school.png', :class => 'Icon') %>
                </div>
                <div class="all-55 push-right align-left">
                  <h1 class="red">Universities</h1>
                </div>
            </div>
            <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 push-right">
              <ul>
                <li><p>Triangulate forecasting using IEA data with student intended plans</p></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

<%= render 'layouts/footer' %>

</div>

<script type="text/javascript">
    (function(){

        var parallax = document.querySelectorAll(".parallax"),
                speed = .5;

        window.onscroll = function(){
            [].slice.call(parallax).forEach(function(el,i){
                if(i == 0) {
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed) + "px";
                }
                else{
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed + 200) + "px";
                }

                el.style.backgroundPosition = elBackgrounPos;

            });
        };

    })();
</script>