<style>
    body {
    background: none;
    }
</style>

<% provide(:title, 'PLanner') %>
<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html"></div>
<div class="ink-grid">
<div class="column-group half-top-padding half-horizontal-gutters">

    <!-- INFO PANEL-->
    <div class="InfoPanelHoler all-100">
        <div class="InfoPanel column-group all-100 push-center align-center half-left-padding">
          <div class="xlarge-30 large-30 medium-30 small-50 tiny-100 half-top-padding">
            <h5>School: </h5>
            <p><%=@school.name%></p>
          </div>
          <div class="xlarge-30 large-30 medium-30 small-50 tiny-100 half-top-padding">
            <h5>Major: </h5>
            <p><%=@major.name%></p>
          </div>
          <div class="xlarge-30 large-30 medium-100 small-50 tiny-100 half-top-padding">
            <h5>Catalog: </h5>
            <p><%=@catalog.degree%></p>
          </div>
        </div>
    </div>
    <!-- END INFO PANEL -->
    <!-- PLANS-->
    <div class="column-group xlarge-25 large-25 medium-100 small-100 tiny-100 half-top-padding">
      <div class="Pot all-100 push-center">

          <!--COURSE FROM PLAN ADD-->
          <div class="column all-95 order-r1 half-top-space condensed">
            <button id="GETog" class="PlanTog ink-button all-100 "
                    onclick="showCat('GE')">General Education</button>
            <div id="GE" class="Category ink-flex half-top-space red">
              <div class="column-group all-95  push-center push-middle half-top-space">
                <div class="all-100 half-left-padding"><h5>Area A</h5></div>
                <div class="PlanButtonDiv gutters all-100 align-center condensed-200 small half-bottom-space">
                  <button id="A1-B" class="PlanCourseB ink-button align-center order-1"  onclick="showCard('A1-CC')">A1</button>
                  <button id="A2-B" class="PlanCourseB ink-button align-center order-2" onclick="showCard('A2-CC')">A2</button>
                  <button id="A3-B" class="PlanCourseB ink-button align-center order-3" onclick="showCard('A3-CC')">A3</button>
                </div>
              </div>
            </div>
          </div>

        <% k = 0 %>

        <% @cat.each do |g|%>

            <div class="column all-95 order-r3  half-top-space condensed">
              <button id="<%=g.id%>-Tog" class="PlanTog ink-button all-100" onclick="showCat('<%=g.id%>-Cat')"><%=g.name %></button>
              <div id="<%=g.id%>-Cat" class="Category ink-flex half-top-space  <% if k == 0 %> orange <% elsif k == 1 %> blue <% else %> red<% end %>">
                <div class="column-group all-95  push-center push-middle half-top-space">
                  <% pull_cat = @sub_cat.where(:category_id => g.id)%>
                  <% pull_cat.each do |j|%>
                      <div class="all-100 half-left-padding"><h5><%=j.name %></h5></div>
                      <div class="PlanButtonDiv gutters all-100 align-center condensed-200 small half-bottom-space">

                        <% i = 0 %>
                        <% j.courses.each do |c|%>
                            <button id="<%=c.id%>-B" class="PlanCourseB ink-button align-center order-1" onclick="showCard('<%=c.id%>-CC')"><%=c.abbrev.gsub(/ /, '<br/>').html_safe%></button>
                            <%if i > 1
                                 i = 0 %>
                                <br>
                            <%else
                                i = i + 1
                              end %>
                        <% end %>

                      </div>
                  <% end %>
                  </div>
              </div>
            </div>
            <%if k < 3
                k += 1
            else
                k = 0
              end %>
        <% end %>


      </div>
    </div>
    <!-- END PLANS-->

    <!--SEMESTER-->
    <div class="PlannerHolder column-group xlarge-45 large-45 medium-100 small-100 tiny-100 half-top-padding">
      <div class="Planner all-100 align-center">
        <!--<div class="column-group all-100 push-left order-r1"><h3>Plan</h3></div>-->

        <!-- SEMESTER DROP-->
        <div id="Semesters">
          <div  class="Semester column-group all-100">
            <div class="all-100">
              <p class="tip">Fall 2015</p>
              <ul id="Fall2015" class="droppable-2 all-100">
              </ul>
            </div>
          </div>
        </div>
        <!--END SEMESTER DROP-->

        <!-- ADD SEMESTER BUTTON-->
        <div class="column all-100 align-right half-top-space half-bottom-space condensed">
          <button id="SemAdd" class="ink-button align-center order-3">+</button>
        </div>
        <!-- END ADD SEMESTER BUTTON-->

      </div>
    </div>
    <!--END SEMESTER -->

    <!-- COURSES-->
    <div class="ClassCardHolder column-group xlarge-30 large-30 medium-100 small-100 tiny-100 half-top-space half-top-padding">
        <div class="PotB all-100 push-left">
          <!-- SEARCH-->
          <div class="column all-100">
            <form class="search ink-form">
              <div class="control-group column-group half-top-space half-left-padding half-top-padding half-right-padding half-bottom-padding">
                <label for="seach" class="all-20 push-left ">Search</label>
                <div class="control xlarge-75 large-75 medium-100 small-100 tiny-100 half-left-padding">
                  <input type="text" name="search" id="search">
                </div>
              </div>
            </form>
          </div>
          <!-- CLASS CARDs-->
          <div class="ClassCards ink-flex all-100">
            <div class="column-group all-100">

              <!--COURSE FROM PLAN ADD RED-->
              <!-- CC-->
              <div id="A1-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                <div class="all-70 push-right half-top-space">
                  <div class="all-60 push-left align-left large order-r2">
                    <p>A1</p>
                  </div>
                  <div class="all-30 push-left align-right large order-r3">
                    <p>Units: 3</p>
                  </div>
                  <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
                <div class="all-30 push-left order-r1">
                  <ul id="A1-CCD" class="droppable-CC all-100 half-left-space red">
                    <li id="A1-D" class="Course ink-label push-middle align-center red">
                      A1
                    </li>
                  </ul>
                </div>
              </div>
              <!--END CC -->
              <!-- CC-->
              <div id="A2-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                <div class="all-70 push-right half-top-space">
                  <div class="all-60 push-left align-left large order-r2">
                    <p>A2</p>
                  </div>
                  <div class="all-30 push-left align-right large order-r3">
                    <p>Units: 3</p>
                  </div>
                  <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
                <div class="all-30 push-left order-r1">
                  <ul id="A2-CCD" class="droppable-CC all-100 half-left-space red">
                    <li id="A2-D" class="Course ink-label push-middle align-center red">
                      A2
                    </li>
                  </ul>
                </div>
              </div>
              <!--END CC -->
              <!-- CC-->
              <div id="A3-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                <div class="all-70 push-right half-top-space">
                  <div class="all-60 push-left align-left large order-r2">
                    <p>A3</p>
                  </div>
                  <div class="all-30 push-left align-right large order-r3">
                    <p>Units: 3</p>
                  </div>
                  <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
                <div class="all-30 push-left order-r1">
                  <ul id="A3-CCD" class="droppable-CC all-100 half-left-space red">
                    <li id="A3-D" class="Course ink-label push-middle align-center red">
                      A3
                    </li>
                  </ul>
                </div>
              </div>
              <!--END CC -->

              <!-- CLASSCARDS-->
              <% i = 0 %>
              <% @cat.each do |g|%>

                    <% pull_cat = @sub_cat.where(:category_id => g.id)%>

                    <% pull_cat.each do |j|%>

                        <% j.courses.each do |c|%>

                          <div id="<%=c.id%>-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                            <div class="all-70 push-right half-top-space">
                              <div class="all-60 push-left align-left large order-r2">
                                <p><%=c.name%></p>
                              </div>
                              <div class="all-30 push-left align-right large order-r3">
                                <p><%=c.units%></p>
                              </div>
                              <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4 half-bottom-padding">
                                <p><%=c.desc%></p>
                              </div>
                            </div>
                            <div class="all-30 push-left order-r1">
                              <ul id="<%=c.id%>-CCD" class="droppable-CC all-100 half-left-space <% if i == 0 %> orange <% elsif i == 1 %> blue <% else %> red<% end %>">
                                <li id="<%=c.id%>-D" class="Course ink-label push-middle align-center <% if i == 0 %> orange <% elsif i == 1 %> blue <% else %> red<% end %>" onclick="showCard('<%=c.id%>-CC')">
                                  <%=  c.abbrev.gsub(/ /, '<br/>').html_safe %>
                                </li>
                              </ul>
                            </div>
                          </div>

                        <% end %>

                    <% end %>
                   <% if i < 3
                        i += 1
                      else
                        i = 0
                      end%>
              <% end %>
              <!-- END CLASSCARDS-->


            </div>
          </div>
          <!-- END CLASS CARD-->
        </div>
      <!-- END COURSES-->
      <!-- <button id="delete" class="delete ink-button small" onclick="removeClass()">X</button>-->
    </div>

</div>
</div>

<script>
    Ink.requireModules([
        'Ink.UI.Draggable_1',
        'Ink.UI.Droppable_1',
        'Ink.UI.Toggle_1',
        'Ink.Dom.Loaded_1',
        'Ink.Dom.Event_1',
        'Ink.Dom.Selector_1'], function (Draggable, Droppable, Toggle, Loaded, InkEvent, Selector) {
//          COURSE FROM PLAN ADD
        new Draggable('#A1-CCD li', {});
        Droppable.add('#A1-CCD', {onDrop: 'move', onDropOut: 'revert'});
        new Draggable('#A2-CCD li', {});
        Droppable.add('#A2-CCD', {onDrop: 'move', onDropOut: 'revert'});
        new Draggable('#A3-CCD li', {});
        Droppable.add('#A3-CCD', {onDrop: 'move', onDropOut: 'revert'});

        <% @courses.each do |c| %>
            new Draggable('#<%=c.id%>-CCD li', {});
            Droppable.add('#<%=c.id%>-CCD', {onDrop: 'move', onDropOut: 'revert'});
        <%end%>

//        new Draggable('#Bus4_92-CCD li', {});
//        Droppable.add('#Bus4_92-CCD', {onDrop: 'move', onDropOut: 'revert'});
//        new Draggable('#Bus4_110A-CCD li', {});
//        Droppable.add('#Bus4_110A-CCD', {onDrop: 'move', onDropOut: 'revert'});
//        new Draggable('#Bus4_110B-CCD li', {});
//        Droppable.add('#Bus4_110B-CCD', {onDrop: 'move', onDropOut: 'revert'});

        Droppable.add('#Fall2015', {onDrop: 'move'});

//        SEMESTER

        var semester = ['Fall', 'Winter', 'Spring', 'Summer'];
        var date = new Date();
        var i = 1;


        function addSemester(){
            var year = date.getFullYear();
            var newID = semester[i]+year;
            var newDiv =
                    '<div id="Semesters">' +
                    '<div class="Semester column-group all-100">' +
                    '<div class="all-100" style="padding-top: 7px">' +
                    '<p class="tip">'+ semester[i] + ' ' + year +'</p>' +
                    '<ul id="'+newID+'" class="droppable-2 all-100">' +
                    '</ul>' +
                    '</div>' +
                    '</div>'+
                    '</div>';
            newID = '#' + newID;

            $("#Semesters").append(newDiv);
            $(newID).hide();
            $(newID).fadeIn('fast');
            Droppable.add(newID, {onDrop: 'move'});
            i++;
            if(i == 4){
                i = 0;}
            else if(i == 2){
                date.setYear(year + 1);}

        }

        function addEvents() {

//              COURSE FROM PLAN ADD
//            InkEvent.on(Ink.s('#A1-B') ,'click',changeTab);
//            InkEvent.on(Ink.s('#A2-B') ,'click',changeTab);
//            InkEvent.on(Ink.s('#A3-B') ,'click',changeTab);
//
//            InkEvent.on(Ink.s('#Math71-B') ,'click',changeTab);
//            InkEvent.on(Ink.s('#Engl2-B') ,'click',changeTab);
//            InkEvent.on(Ink.s('#Bus1_20-B') ,'click',changeTab);
//
//            InkEvent.on(Ink.s('#Bus4_92-B') ,'click',changeTab);
//            InkEvent.on(Ink.s('#Bus4_110A-B') ,'click',changeTab);
//            InkEvent.on(Ink.s('#Bus4_110B-B') ,'click',changeTab);

            InkEvent.on(Ink.s('#SemAdd') ,'click',addSemester);
        }
        function initProject(){
            addEvents();
        }
        Loaded.run(function() {
            initProject();
        });

    });
    //
    function showCard(id){
//        $("#"+id).siblings().hide();
//        document.getElementById(id).style.display = 'block';
        $("#"+id).siblings().fadeOut('fast').promise().done(function(){
            $("#"+id).fadeIn('fast');
        });
    }

    //        Ink.requireModules([], function (Toggle) {
    //            new Toggle('#GETog');
    //            new Toggle('#MajTog');
    //            new Toggle('#ConsTog');
    //        })
    function showCat(id) {

        if (id.localeCompare('GE') != 0) {
        $('#GE').slideUp('fast');
        }
        <% @cat.each do |g|%>
        if(id.localeCompare('<%=g.id%>-Cat') != 0) {
            $('#<%=g.id%>-Cat').slideUp('fast').promise().done(function () {
                $("#" + id).slideDown('fast');
            });
        }
        <% end %>
    }

    function removeClass(){
        var elem = document.getElementById('Course');
        elem.parentNode.removeChild(elem);
        return false;
    }

</script>
