<style>
    body {
        background: none;
    }
</style>

<% provide(:title, 'PLanner') %>
<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html"></div>
<div class="ink-grid">
  <div class="column-group half-top-padding half-horizontal-gutters">

    <!-- INFO PANEL-->
    <div class="InfoPanelHoler all-100">
      <div class="InfoPanel column-group all-100 push-center align-center half-left-padding">
        <div class="xlarge-30 large-30 medium-30 small-50 tiny-100 half-top-padding">
          <!--<h5></h5>-->
          <p><b>School: </b><%=@school.name%></p>
        </div>
        <div class="xlarge-30 large-30 medium-30 small-50 tiny-100 half-top-padding">
          <!--<h5>Major: </h5>-->
          <p><b>Major: </b><%=@major.name%></p>
        </div>
        <div class="xlarge-30 large-30 medium-100 small-50 tiny-100 half-top-padding">
          <!--<h5>Catalog: </h5>-->
          <p><b>Catalog: </b><%=@catalog.degree%></p>
        </div>
      </div>
    </div>
    <!-- END INFO PANEL -->
    <!-- PLANS-->
    <div class="column-group xlarge-25 large-25 medium-100 small-100 tiny-100 half-top-padding">
      <div class="Pot all-100 push-center">

        <% k = 0 %>

        <% @catalog.super_cats.each do |z|%>
            <% z.categories.each do |g|%>

                <div class="column all-95 order-r3  half-top-space condensed">
                  <button id="<%=g.id%>-Tog" class="PlanTog ink-button all-100" onclick="showCat('<%=g.id%>-Cat')"><%=g.name %></button>
                  <div id="<%=g.id%>-Cat" class="Category ink-flex half-top-space  <% if k == 0 %> red <% elsif k == 1 %> green <% elsif k == 2 %> orange <% else %> blue <% end %>">
                    <div class="column-group all-95  push-center push-middle half-top-space">

                      <%# g.sub_categories.each do |j|%>
                      <%# if j.courses.count > 0 %>
                      <% if z.name == 'General Education' %>

                          <!-- GE-->
                          <div class="all-100 half-left-padding"><h5><%=g.name %></h5></div>
                          <div class="PlanButtonDiv gutters all-100 align-center condensed-200 small half-bottom-space">
                            <% i = 0 %>
                            <% g.sub_categories.each do |j|%>

                                <button id="<%=j.name%>-B" class="PlanCourseB ink-button align-center order-1" onclick="
                                clearClassCards();
                                        <% j.courses.each do |c|%>
                                        fadeInClassCard('<%=c.id%>-CC');
                                        <% end %>
                                "><%=j.name.gsub(/ /, '<br/>').html_safe%></button>
                                <%if i > 1
                                    i = 0 %>
                                    <br>
                                <%else
                                    i = i + 1
                                  end %>
                            <% end %>
                          </div>
                          <!-- GE END-->

                      <% else %>

                          <!-- NON-GE-->
                          <% g.sub_categories.each do |j|%>
                              <div class="all-100 half-left-padding"><h5><%=j.name %></h5></div>
                              <div class="PlanButtonDiv gutters all-100 align-center condensed-200 small half-bottom-space">

                                <% i = 0 %>
                                <% j.courses.each do |c|%>
                                    <button id="<%=c.id%>-B" class="PlanCourseB ink-button align-center order-1" onclick="showClassCard('<%=c.id%>-CC')"><%=c.abbrev.gsub(/ /, '<br/>').html_safe%></button>

                                    <%if i > 1
                                        i = 0 %>
                                        <br>
                                    <%else
                                        i = i + 1
                                      end %>

                                <% end %>
                              </div>
                          <% end %>
                          <!-- NON-GE END-->

                      <% end %>

                      <% #end %>
                      <% #end %>

                    </div>
                  </div>
                </div>
                <%if k < 4
                    k += 1
                  else
                    k = 0
                  end %>

            <% end %>
        <% end %>


      </div>
    </div>
    <!-- END PLANS-->

    <!--SEMESTER-->
    <div class="PlannerHolder column-group xlarge-45 large-45 medium-100 small-100 tiny-100 top-padding">
      <div class="Planner all-100 align-center">
        <!--<div class="column-group all-100 push-left order-r1"><h3>Plan</h3></div>-->

            <!-- SEMESTER DROP -->
            <div id="Semesters" class="half-right-padding"  style="overflow: auto; max-height: 735px;">

              <% @plan.semesters.each do |z|%>
                  <div  class="Semester column-group all-100" >
                    <div class="all-100" style="padding-top: 0px;">
                      <p class="tip" style="padding-top: 0px;"><%=z.name %></p>
                      <ul id="<%=z.name.gsub(" ", "-") %>-S" class="droppable-2 all-100">
                      </ul>
                    </div>
                  </div>
              <%end%>

            </div>

        <!--END SEMESTER DROP-->

        <!-- ADD SEMESTER BUTTON-->
        <div class="column all-100 align-right half-top-space half-bottom-space condensed">
          <button id="SemAdd" class="ink-button align-center order-3">+</button>
        </div>
        <!-- END ADD SEMESTER BUTTON-->

      </div>
    </div>
    <!--END SEMESTER -->

    <!-- COURSES-->
    <div class="ClassCardHolder column-group xlarge-30 large-30 medium-100 small-100 tiny-100 half-top-space half-top-padding">
      <div class="PotB all-100 push-left">
        <!-- SEARCH-->
        <div class="column all-100">
          <form class="search ink-form">
            <div class="control-group column-group half-top-space half-left-padding half-top-padding half-right-padding half-bottom-padding">
              <label for="seach" class="all-20 push-left ">Search</label>
              <div class="control xlarge-75 large-75 medium-100 small-100 tiny-100 half-left-padding">
                <input type="text" name="search" id="search">
              </div>
            </div>
          </form>
        </div>
        <!-- CLASS CARDs -->
        <div class="ClassCards ink-flex all-100">
          <div id="CCD" class="column-group all-100 half-top-space half-left-padding half-right-padding" style="overflow: auto; max-height: 650px;">

            <!--<div class="frame">-->
            <!--<ul class="slidee">-->

            <!-- CLASSCARDS-->
            <% i = 0 %>
            <% @catalog.super_cats.each do |z|%>
                <% z.categories.each do |g|%>

                    <% g.sub_categories.each do |j|%>

                        <% j.courses.each do |c|%>


                            <!--<li>-->
                            <div id="<%=c.id%>-CC" class="ClassCard column all-100 horizontal-gutters">
                              <div class="all-70 push-right half-top-space">
                                <div class="CCTitle all-60 push-left align-left large order-r2">
                                  <p><%=c.name%></p>
                                </div>
                                <div class="all-30 push-left align-right large order-r3">
                                  <p><%=c.units%></p>
                                </div>
                                <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4  half-right-padding">
                                  <p><%=c.desc%></p>
                                </div>
                              </div>
                              <div class="all-30 push-left order-r1">
                                <ul id="<%=c.id%>-CCD" class="droppable-CC all-100 half-left-space <% if i == 0 %> red <% elsif i == 1 %> green <% elsif i == 2 %> orange <% else %> blue <% end %>">
                                  <li id="<%=c.id%>-D" class="Course ink-label push-middle align-center <% if i == 0 %> red <% elsif i == 1 %> green <% elsif i == 2 %> orange <% else %> blue <% end %>" >
                                    <%=  c.abbrev.gsub(/ /, '<br/>').html_safe %>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <!--</li>-->


                        <% end %>

                    <% end %>
                    <% if i < 4
                         i += 1
                       else
                         i = 0
                       end%>
                <% end %>
            <% end %>

            <!--</ul>-->
            <!--</div>-->
            <!-- END CLASSCARDS-->


          </div>
        </div>
        <!-- END CLASS CARD-->
      </div>
      <!-- END COURSES-->
      <!-- <button id="delete" class="delete ink-button small" onclick="removeClass()">X</button>-->
    </div>

  </div>
</div>

<script type="text/javascript">
    Ink.requireModules([
        'Ink.UI.Draggable_1',
        'Ink.UI.Droppable_1',
        'Ink.UI.Toggle_1',
        'Ink.Dom.Loaded_1',
        'Ink.Dom.Event_1',
        'Ink.Dom.Selector_1'], function (Draggable, Droppable, Toggle, Loaded, InkEvent, Selector) {
//          COURSE FROM PLAN ADD

        <% @courses.each do |c| %>
        new Draggable('#<%=c.id%>-CCD li', {});
        Droppable.add('#<%=c.id%>-CCD', {onDrop: 'move', onDropOut: 'revert'});
        <%end%>

//        Droppable.add('#Fall 2015-S', {onDrop: 'move'});

        <% @plan.semesters.all.each do |s| %>
         Droppable.add('#<%=s.name.gsub(" ", "-")%>-S', {onDrop: 'move'});
        <% end %>

//        SEMESTER
//        var sly = new Sly(document.getElementById('frame'));


//        var semester = ['Fall', 'Winter', 'Spring', 'Summer'];
//        var date = new Date();
//        var i = 1;

        var semester = ['Fall', 'Winter', 'Spring', 'Summer'];
        var date = new Date();
        var i = 0;
        date.setYear(<%= @plan.semesters.last.year %>);
        if("<%= @plan.semesters.last.name[0] %>" == "F" ){
            var i = 1;
        } else {
            var i = 3;
        }

        function addSemester(){
            var year = date.getFullYear();
            var newID = semester[i]+"-"+year+"-S";
            var newDiv =
                    '<div id="Semesters">' +
                    '<div class="Semester column-group all-100">' +
                    '<div class="all-100" style="padding-top: 0px">' +
                    '<p class="tip" style="padding-top: 0px;">'+ semester[i] + ' ' + year +'</p>' +
                    '<ul id="'+newID+'" class="droppable-2 all-100">' +
                    '</ul>' +
                    '</div>' +
                    '</div>'+
                    '</div>';
            newID = '#' + newID;

            $("#Semesters").append(newDiv);
            $(newID).hide();
            $(newID).fadeIn('fast');
            Droppable.add(newID, {onDrop: 'move'});
            i++;
            if(i == 4){
                i = 0;}
            else if(i == 2){
                date.setYear(year + 1);}

            var d = $('#Semesters');
            d.scrollTop(d.prop("scrollHeight"));

        }

        function addEvents() {

            <% @courses.each do |c| %>
            InkEvent.on(Ink.i('<%=c.id%>-D') ,'mousedown', function(){
                $("#<%=c.id%>-CC").siblings().fadeOut('fast').promise().done(function(){$("#<%=c.id%>-CC").fadeIn('fast');});
            });
            <% end %>

            InkEvent.on(Ink.s('#SemAdd') ,'click',addSemester);
        }
        function initProject(){
            addEvents();
        }
        Loaded.run(function() {
            initProject();
        });

    });


    function clearClassCards(){
        $("#CCD").children().fadeOut('fast').promise()
    }
    function fadeInClassCard(id){
        $("#"+id).fadeIn('slow');
    }

    function showClassCard(id){
        $("#"+id).siblings().fadeOut('fast').promise().done(function(){$("#"+id).fadeIn('fast');});
//        var fade = $("#"+id).siblings().fadeOut('fast').promise();
//        fade.then(function(){$("#"+id).fadeIn('fast');});
    }

    function showCat(id) {

        if (id.localeCompare('GE-Cat') != 0) {$('#GE-Cat').slideUp('fast');}
        <% @catalog.super_cats.each do |z|%>
        <% z.categories.each do |g|%>
        if (id.localeCompare('<%=g.id%>-Cat') != 0) {$('#<%=g.id%>-Cat').slideUp('fast');}
        <% end %>
        <% end %>
        $('#' + id).slideToggle('fast');

    }

    function removeClass(){
        var elem = document.getElementById('Course');
        elem.parentNode.removeChild(elem);
        return false;
    }

</script>


