<style>
  body {
    background: none;
  }
</style>
<% provide(:title, 'Account Settings') %>
<div class="clearfix_100"></div>
<div class="column-group push-center push-middle">
  <div class="all-80 push-center push-middle" style="background:rgba(255, 255, 255, 0.9)">
    <div class="clearfix_10"></div>
    <!--<div class="align-center"><h1>Account Settings</h1></div>-->
    <div class="ink-grid">

      <div class="control all-60 push-center">

        <div class="Title ink-label control">
          <p class="large fw-bold extralarge half-bottom-space">Account Settings</p>
        </div>

        <div class="control all-90 push-center">

          <!-- <form class="ink-form"> -->
          <%= form_for(@user, :html => {:class => "ink-form"}) do |f| %>

              <div class="Info ink-label control">
                <p class="large fw-bold quarter-bottom-space"><span class="Space">Name:
                  <%= f.text_field :name, class: 'form-field' %></span></p>
              </div>

              <div class="Info ink-label control fw-bold quarter-bottom-space">
                <p class="large fw-bold quarter-bottom-space"><span class="Space">Email:
                  <%= f.email_field :email, class: 'form-field' %></span></p>
              </div>

              <div class="Info ink-label control fw-bold slab quarter-bottom-space">
              <span class="large fw-bold">Password:
                <%= f.password_field :password, class: 'form-field', :value => '', :placeholder => "Enter new password"%></span>
              </div>

              <div class="Info ink-label control fw-bold slab half-bottom-space">
                <p class="large fw-bold half-bottom-space align-center">
                  <%= f.password_field :password_confirmation, class: 'form-field', :value => '', :placeholder => "Confirm new password"%>
                </p></div>


              </div>

              <div class="Title ink-label control">
                <p class="large fw-bold extralarge half-bottom-space">Transcripts</p>
              </div>

              <div class="control all-90 push-center">

                <div class="Info ink-label control fw-bold">

                  <div class="ink-grid half-bottom-space">
                    <div class="column-group">
                      <div class="all-50">
                        <p class="large fw-bold slab">School</p>
                        <!-- put code to display school name(s) here -->
                      </div>
                      <div class="all-50">
                        <p class="large fw-bold slab">Upload Date</p>
                        <!-- put code to display transcript upload dates here -->
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="ink-grid half-bottom-space">
                <div class="column-group">
                  <div class="all-50">
                    <p class ="round-image-50"><%= image_tag(current_user.profilephoto.url(:medium))%></p>
                    <%= f.file_field :profilephoto %>
                  </div>
                  <div class="all-50">
                    <div class="Info ink-label push-center">
                      (Upload Transcript
                      button will go here)
                    </div>
                  </div>
                </div>
              </div>

              <div class="Title ink-label control">
                <p class="large fw-bold extralarge half-bottom-space">Major Information</p>
              </div>

              <div class="Info ink-label control all-90 fw-bold push-center">
                <p class="large fw-bold half-bottom-space">Major</p>
              </div>

              <div class="all-50 align-center bottom-space push-center">
                <!-- put code here to save updated info -->

              </div>

          <%end%>


          </div>

    </div>


    <div class="clearfix_10"></div>
  </div>
</div>
