<div id="topbar">
  <nav class="ink-navigation ink-grid ie7">
    <ul class="menu horizontal push-left medium-push-center small-push-center tiny-push-center">
      <li class="hide-all show-tiny show-small show-medium">
        <button class="fa fa-bars left-drawer-trigger"></button>
      </li>
    <li class="logoPlaceholder">
      <%= link_to("Saryan", root_path , class: "logoPlaceholder") %>
    </li>
    </ul>
    <ul class="menu horizontal push-right hide-small hide-tiny hide-medium">
      <li class="heading"><%= link_to("Home", root_path) %></li>

      <% if logged_in? %>
          <li class="heading"><%= link_to("Planner", planner_path) %></li>
          <li class="heading"><%= link_to("Account", current_user) %></li>
          <li class="heading"><%= link_to("Logout", logout_path, method: "delete") %></li>
      <% else %>
          <li class="heading"><%= link_to("Login", login_path) %></li>
          <li class="heading"><%= link_to("Register", register_path) %></li>
      <% end %>

    </ul>
  </nav>
</div>

<div class="left-drawer">
  <ul>
    <li class="heading"><%= link_to("Home", root_path) %></li>

    <% if logged_in? %>
        <li class="heading"><%= link_to("Planner", planner_path) %></li>
        <li class="heading"><%= link_to("Profile", current_user) %></li>
        <li class="heading"><%= link_to("Logout", logout_path, method: "delete") %></li>
    <% else %>
        <li class="heading"><%= link_to("Login", login_path) %></li>
        <li class="heading"><%= link_to("Register", register_path) %></li>
    <% end %>
  </ul>
</div>